{% extends 'base.html' %}

{% block title %}Conditions d'utilisation{% endblock %}

{% block content %}
<div class="container py-5">
  <h1 class="mb-4">Conditions d'utilisation</h1>
  <p>
    Bienvenue sur Banque d'Épreuves. En utilisant ce site, vous acceptez nos conditions d'utilisation suivantes...
  </p>

  <h2>1. Utilisation du site</h2>
  <p>
    Le contenu proposé sur ce site est destiné à un usage personnel et non commercial...
  </p>

  <h2>2. Propriété intellectuelle</h2>
  <p>
    Tous les contenus présents sur ce site (textes, images, fichiers) sont protégés par des droits d’auteur...
  </p>



</div>
{% endblock %}
