{% extends 'base.html' %}

{% block content %}
<!-- Section : Contenus populaires -->
<section class="py-5 bg-white border-top">
  <div class="container">
    <div class="mb-4">
      <h2 class="fw-bold">Les 15 contenus les plus populaires</h2>
      <p class="text-muted">Épreuves et fiches de cours les plus téléchargées</p>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
      {% for contenu in contenus_populaires %}
      <div class="col">
        <div class="card h-100 shadow-sm border-0">
          <div class="card-img-top d-flex justify-content-center align-items-center bg-light" style="height: 160px; font-size: 4rem;">
            {{ contenu.icon }}
          </div>

          <div class="card-body">
            <h5 class="card-title fw-bold">{{ contenu.titre }}</h5>
            <p class="text-muted mb-1">
              {% if contenu.matiere %}{{ contenu.matiere.nom }}{% endif %}
              {% if contenu.annee %} - {{ contenu.annee }}{% endif %}
            </p>
            <p class="mb-2">
              <strong>{{ contenu.niveau }}</strong> · {{ contenu.telechargements }} téléchargements
            </p>
            <div class="d-flex justify-content-between">
              {% if contenu.type_contenu == "epreuve" %}
                <a href="{% url 'aperçu_epreuve' contenu.id %}" class="btn btn-outline-secondary apercu-btn">Aperçu</a>
                <a href="{% url 'telecharger_epreuve' contenu.id %}" class="btn btn-primary">Télécharger</a>
              {% else %}
                <a href="{% url 'aperçu_fiche' contenu.id %}" class="btn btn-outline-secondary apercu-btn">Aperçu</a>
                <a href="{% url 'telecharger_fiche' contenu.id %}" class="btn btn-primary">Télécharger</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="container mt-5 text-center">
    <a href="{% url 'home' %}" class="btn btn-outline-primary">
        ⬅ Revenir à l'accueil
    </a>
  </div>

</section>
{% endblock %}


