{% extends 'base.html' %}

{% block content %}
<section class="py-12 bg-light">
  <div class="container">
    <h1 class="text-center text-primary mb-5">Toutes les matières</h1>

    <div class="row">
      {% for matiere in matieres %}
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm rounded-4 h-100">
          <div class="card-body text-center">
            <div class="mb-2 fs-1">{{ matiere.icon }}</div>
            <h5 class="card-title">{{ matiere.nom }}</h5>
            <div class="d-grid gap-2 mt-3">
              <a href="{% url 'contenu_par_matiere' matiere.id %}" class="btn btn-outline-primary btn-sm">
                Voir les ressources
              </a>              
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
